.button-area {
  width: 40%;
  margin: auto;
}
.youtube-videos {
  display: flex;
  background-color: var(--rieslingcolor);
  font-weight: 500;
  color: var(--pinotcolor);
  text-align: center;
  margin: auto;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px; 
  margin-bottom: 20px;
}

a > .youtube-videos {
  background-color: var(--rieslingcolor);
  font-weight: 600;
  color: var(--footercolor);
  padding-left: 40px;
  padding-right: 40px;
}

a > .youtube-videos:hover {
  background-color: var(--rieslingcolor);
  color: var(--pinotcolor);
  text-decoration: none;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
}

.youtube-videos:hover {
  background-color: var(--rieslingcolor);
  color: var(--pinotcolor);
  transition: .3s;
  text-decoration: none;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 90%;
}